@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/media/tinypng-cropedbackground-min.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-section > div {
  position: relative;
  z-index: 1;
}

/* Text Shadows */
.text-shadow-fuchsia {
  text-shadow: 0 0 15px rgba(255, 0, 255, 0.8), 0 0 25px rgba(255, 0, 255, 0.6);
}

.text-shadow-sky {
  text-shadow: 0 0 15px rgba(0, 191, 255, 0.8), 0 0 25px rgba(0, 191, 255, 0.6);
}

.text-shadow-green {
  text-shadow: 0 0 15px rgba(0, 255, 0, 0.8), 0 0 25px rgba(0, 255, 0, 0.6);
}

/* Gradient Shadows */
.gradient-shadow {
  box-shadow: 0 0 15px 5px rgba(128, 0, 128, 0.4),
              0 0 25px 10px rgba(128, 0, 128, 0.3);
  transition: all 0.3s ease-in-out;
}

.gradient-shadow:hover {
  box-shadow: 0 0 20px 10px rgba(128, 0, 128, 0.6),
              0 0 30px 15px rgba(128, 0, 128, 0.5);
}

/* Keyframes for Spinning Animation */
@keyframes spin-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinning Gradient Border */
.spin-gradient {
  position: absolute;
  z-index: 0;
  background: conic-gradient(#4f46e5, #0ea5ff, #9333ea, #4f46e5);
  animation: spin-gradient 2s linear infinite;
  border-radius: inherit;
  inset: 0;
}

/* Text Alignment */
.text-justify-tight {
  text-align: justify;
  text-align-last: justify; /* For better balance */
}

h1 {
  font-size: 1.5rem; /* Adjust to your design */
  font-weight: bold;
  margin-top: 1rem;
}
strong {
  font-weight: bold;
}

.hover-text-shadow {
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.hover-text-shadow:hover {
  text-shadow: 0px 8px 12px rgba(13, 148, 136, 0.6);
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;
  box-shadow: 0 0 0px 1000px #29E7CD inset !important; 
  transition: background-color 5000s ease-in-out 0s; 
}

input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-text-fill-color: inherit !important;
}

textarea:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;
  box-shadow: 0 0 0px 1000px #00ffe0 inset !important; /* Match your field's background */
}

textarea:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-text-fill-color: inherit !important;
}
